// Colors
$cont-dark: #727272
$cont-grey: #414141
$background: #f6f6f6
$info-blue: #33c1e3
$danger-red: #e85f61

//Vars
$header-height: 60px
$footer-height: 50px

//Styles

body
	background-color: $background
	font-family: 'firasans_reg'

.middle
	&::before
		display: inline-block
		content: ' '
		vertical-align: middle

.shadow
	&_big
		box-shadow: 0 0 8px rgba(0, 0, 0, 0.5)

	&_small
		box-shadow: 0 1px 1px #999
		
	&_soft
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2)


//Wrapers
.wrapper
	width: 100%
	height: 100%
	min-height: 640px

	&::after
		display: block
		height: $footer-height
		content: ''

.wrap-enter
	position: relative
	min-width: 300px
	display: flex
	justify-content: center
	align-items: center
	background: url("../../img/bg/geometry2.png")

.container
	margin: 0 auto
	height: inherit
	max-width: 940px

//Img
.radius
	&_circle
		border-radius: 50%

	&_rounded
		border-radius: 7px

.img
	object-fit: cover //Fit non-square img in perfect circle
	vertical-align: middle
	
	&_small
		height: 60px
		width: 60px

	&_medium
		width: 140px
		height: 140px

	&_big
		width: 220px
		height: 220px

//Header
.header
	height: $header-height
	background-color: white
	padding: 10px 0
	margin-bottom: 25px

	.middle::before
		height: $header-height

	.header__left
		float: left
		
		.user
			.user__photo
				vertical-align: middle

			.user__name
				display: inline
				font-family: 'firasans_reg'
				font-weight: 400
				font-size: 18px
				margin-left: 20px
				color: $cont-grey
				vertical-align: middle

	.header__right
		position: relative
		padding-top: 3px
		float: right

		.contacts
			font-family: 'firasans_bold'
			text-decoration: none
			font-size: 18px
			color: $info-blue
			padding-bottom: 5px
			background: url("../../img/decor/dots.jpg") center bottom repeat-x

		// a:hover

		// 	.contacts
		// 		display: block

		// .contacts
		// 	display: none
		// 	position: absolute
		// 	background-color: white
		// 	border: 1px solid #dedede
		// 	border-radius: 15px
		// 	height: 130px
		// 	width: 190px
		// 	top: 50px
		// 	left: -43.5px

		// 	.arrow
		// 		position: absolute
		// 		width: 8px
		// 		height: 8px
		// 		left: 89px
		// 		top: -6px
		// 		background-color: white
		// 		border-left: 1px solid #dedede
		// 		border-top: 1px solid #dedede
		// 		transform: rotate(45deg)

//Footer
.footer
	height: $footer-height
	background: $cont-grey
	margin-top: -$footer-height
	
	.middle::before
		height: $footer-height

	&__left
		float: left
		line-height: 50px
		color: #9c9c9c
		font-size: 14px
		font-family: 'firasans_reg'

	&__right
		float: right

		.socials
			&__icon
				display: inline-block
				margin-left: 3px
				text-align: center
				line-height: 30px
				color: $cont-grey
				background-color: #9c9c9c
				width: 30px
				border-radius: 50%
				cursor: pointer
				
				&_facebook:hover
					background-color: #4463a6
				&_vk:hover
					background-color: #5d99c3
				&_twitter:hover
					background-color: #6ac4d9
		
			// //Facebook
			// .icon:nth-of-type(1):hover

			// //VK
			// .icon:nth-of-type(2):hover

			// //Twitter
			// .icon:nth-of-type(3):hover


//Buttons
.button
	text-decoration: none
	border-radius: 40px
	padding: 9px 12px
	cursor: pointer
	outline: none
	text-align: center
	font-size: 14px
	transition: all 0.3s
	font-family: 'firasans_medium'

	&_white
		background-color: $info-blue
		border: 2px solid $background
		color: white
		
		&:hover
			background-color: white
			color: $info-blue
				
	&_red
		background-color: $background
		border: 2px solid $danger-red
		font-family: 'firasans_bold'
		color: $danger-red
		
		&:hover
			background-color: $danger-red
			color: white

.content
	position: relative
	width: 300px
	text-align: center
	border-radius: 7px

	&__bot
		background-color: $info-blue
		padding: 30px
		border-radius: 0 0 7px 7px

	&__top
		background-color: white
		border-radius: 7px 7px 0 0
		padding: 90px 20px 20px 20px

	&__pic
		position: absolute
		top: -75px
		right: 80px

.title
	font-family: 'firasans_medium'
	font-weight: 400
	font-size: 35px
	margin: 0
	margin-bottom: 20px
	line-height: 35px
	color: $cont-grey

.about-me
	float: right
	
	&__left
		float: left
		margin-right: 60px

	&__right
		float: right

	&__text
		width: 380px
		height: 300px
		// padding-right: 25px
		overflow: auto
		margin-bottom: 50px

		p
			// font-family: 'firasans_light'
			font-size: 18px
			line-height: 26px
			color: #646464

	.download-button
		float: right
		font-size: 14px

		i
			margin: 0 5px 0 2px

.sidebar
	float: left
	text-align: right
	width: 215px

	.nav
		&__list
			margin: 0
			padding: 0
			list-style: none

		&__item
			// font-family: 'firasans_medium'
			padding: 10px 20px
			font-size: 18px
			line-height: 24px
			border-right: 6px solid transparent
			
			&_selected
				border-right: 6px solid $info-blue
				font-family: 'firasans_bold'

				.nav__link
					color: $info-blue

		&__link
			text-decoration: none
			color: $cont-grey

			&:hover
				color: $info-blue


//Career

.career
	float: right

	&__left
		float: left

		&__school
			width: 402px
			border-radius: 5px

	&__right
		float: right

	&__time-list
		list-style: none

	&__time-item

		&:hover
			.career__year
				color: $info-blue

				&::after
					border: 5px solid lighten($info-blue, 20)

	&__year
		display: inline-block
		float: left
		font-family: 'firasans_light'
		font-size: 14px
		line-height: 107px
		color: $cont-grey

		&::after
			display: inline-block
			vertical-align: middle
			content: ''
			width: 10px
			height: 10px
			border-radius: 50%
			border: 5px solid $background
			background-color: $info-blue

	&__time-block
		box-sizing: border-box
		position: relative
		display: inline-block
		width: 380px
		height: 107px
		padding: 18px 58px 0 20px
		margin: 0 0 20px 0
		line-height: 26px
		background: #fff

		&::after
			display: inline-block
			content: ''
			width: 1px
			height: 54px
			background: red
			position: absolute
			left: -11px
			top: 63px

		&::before
			display: inline-block
			content: ''
			width: 1px
			height: 54px
			background: red
			position: absolute
			left: -11px
			top: -10px

		&:nth-of-type(1)::before
			display: none

		// &:last-of-type &::after
		// 	display: none


		h3
			font-size: 21px
			color: $cont-dark
		h4
			font-family: 'firasans_light'
			font-size: 18px
			color: #8a8a8a
