.about-me

	&__left
		float: left

	&__right
		float: right
	
	&__pic
		margin-left: 60px
		width: 220px
		height: 220px
		overflow: hidden
		border: 3px solid #fff

	&__description
		max-width: 380px

	&__text
		height: 300px
		overflow-wrap: break-word
		overflow: auto
		margin-bottom: 50px

		p
			// font-family: 'firasans_light'
			font-size: 18px
			line-height: 26px
			color: #646464
	&__button
		float: right

		.download-button
			display: inline-block
			font-size: 14px

			i
				margin: 0 5px 0 2px

