
//Footer
.footer
	box-sizing: border-box
	background: $cont-grey
	margin-top: -$footer-height
	overflow-wrap: break-word
	position: relative
	padding: 10px 0
	
	&__left
		float: left
		color: #9c9c9c
		max-width: 50%
		font-size: 14px
		font-family: 'firasans_reg'
		position: absolute
		top: 50%
		margin-top: -8px

	&__right
		float: right
		max-width: 50%

		.socials
			&__icon
				display: inline-block
				margin-left: 3px
				text-align: center
				color: $cont-grey
				background-color: #9c9c9c
				width: 30px
				height: 30px
				border-radius: 50%
				cursor: pointer

				.fa
					line-height: 30px
				
				&_facebook:hover
					background-color: #4463a6
				&_vk:hover
					background-color: #5d99c3
				&_twitter:hover
					background-color: #6ac4d9
