
//Header
.header
	box-sizing: border-box
	padding: 10px 0
	background-color: white
	overflow-wrap: break-word
	margin-bottom: 25px
	
	.container
		position: relative

	&__left
		max-width: 50%
		float: left
		
		.user
			&__pic
				vertical-align: middle
				width: 60px
				height: 60px

			&__name
				display: inline
				font-family: 'firasans_reg'
				font-weight: 400
				font-size: 18px
				margin-left: 20px
				color: $cont-grey
				vertical-align: middle

	&__right
		max-width: 50%
		position: absolute
		right: 0
		top: 50%
		margin-top: -10px

	&__contacts-block
		position: relative

		&:hover
			.dropdown
				left: 50%
			.header__contacts-link
				color: $danger-red
				background: url("../../img/decor/dots.png") 0 bottom repeat-x

		&:active
			.dropdown
				left: 50%
			.header__contacts-link
				color: $danger-red
				background: url("../../img/decor/dots.png") 0 bottom repeat-x
			
	&__contacts-link
		font-family: 'firasans_bold'
		text-decoration: none
		font-size: 18px
		color: $info-blue
		padding-bottom: 5px
		background: url("../../img/decor/dots.png") 0 19px repeat-x

	&__contacts-phone
		display: none
		color: $info-blue
		font-size: 40px
		margin-top: -10px


		// a:hover

		// 	.contacts
		// 		display: block

		// .contacts
		// 	display: none
		// 	position: absolute
		// 	background-color: white
		// 	border: 1px solid #dedede
		// 	border-radius: 15px
		// 	height: 130px
		// 	width: 190px
		// 	top: 50px
		// 	left: -43.5px

		// 	.arrow
		// 		position: absolute
		// 		width: 8px
		// 		height: 8px
		// 		left: 89px
		// 		top: -6px
		// 		background-color: white
		// 		border-left: 1px solid #dedede
		// 		border-top: 1px solid #dedede
		// 		transform: rotate(45deg)