
.wrap-enter
	position: relative
	min-width: 300px
	display: flex
	justify-content: center
	align-items: center
	background: url("../../img/bg/geometry2.png")

.welcome
	position: relative
	width: 300px
	text-align: center
	border-radius: 7px
	overflow-wrap: break-word

	&__bot
		background-color: $info-blue
		padding: 30px
		border-radius: 0 0 7px 7px

	&__top
		background-color: white
		border-radius: 7px 7px 0 0
		padding: 90px 20px 20px 20px

	&__pic
		width: 140px
		height: 140px
		position: absolute
		top: -75px
		right: 80px