.burger-slider
	width: 900px
	overflow: hidden
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	
	&__list
		transition: transform 500ms
		@extend %clearfix

		&_moving
			transition: none

	&__item
		overflow: hidden
		max-height: 650px
		width: 940px
		position: relative
		float: left
		box-sizing: border-box
		padding: 45px 0

		&_active
	