.burger-slider
	width: 940px
	overflow: hidden

	&__list
		height: 380px
		width: 10000px
		transition: transform 500ms

		&_moving
			transition: none

	&__item
		overflow: hidden
		max-height: 650px
		width: 940px
		height: 380px
		float: left

		&_active
	