.acco
	float: right
	width: 50%
	height: 100%
	background-color: rgba(0, 0, 0, 0.5)

	&__content-block
		position: relative
		height: 100%
		z-index: 1
		box-sizing: border-box
		padding: 113px 0 100px 60px

	&__title
		color: #f9b43b
		line-height: 64px
		margin-bottom: 80px
	
	&__item
		font-size: 14px
		margin-bottom: 30px
		color: white

	&__person-name
		font-family: 'gagalin'
		line-height: 28px
		color: white

	&__triangle
		display: inline-block
		font-size: 18px
		width: 0
		height: 0
		transition: transform 300ms
		transform: rotateX(0deg)
		border-left: 8px solid transparent
		border-right: 8px solid transparent
		border-bottom: 8px solid #f9b43b

	&__trigger
		&_active
			color: #f9b43b
			
			& > .acco__triangle
				transform: rotateX(180deg)

	&__person-block
		overflow: hidden
		transition: height 300ms
		height: 0px

	&__person-pic
		width: 100px
		height: 100px
		margin: 15px 30px 0 15px

	&__person-description
		line-height: 24px
		width: 260px
		display: inline-block
		overflow-wrap: break-word
		margin-top: 15px
		vertical-align: top

	&__person-position
		font-family: 'ubuntu_bold'
		margin-bottom: 15px

	&__person-about
		font-family: 'ubuntu_light'



