body {
  background-color: #f6f6f6; }

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: auto; }

.wrap-enter {
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/bg/geometry2.png"); }

.wrap-about {
  max-width: 940px; }

.ava {
  object-fit: cover;
  border-radius: 50%; }

.ava-main {
  width: 150px;
  height: 150px; }

.ava_top-bar {
  height: 60px;
  width: 60px; }

.ava-about {
  width: 220px;
  height: 220px; }

.top-bar {
  height: 60px;
  background-color: white;
  padding: 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }

.bottom-bar {
  height: 50px;
  background: #414141; }
  .bottom-bar .bar-left {
    line-height: 50px; }
  .bottom-bar h4 {
    color: #7d7d7d;
    font-size: 14px;
    font-family: "firasans_light"; }
  .bottom-bar .bar-right .icon {
    margin-left: 8px;
    text-align: center;
    line-height: 30px;
    color: #414141;
    background-color: #9c9c9c;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    cursor: pointer; }
  .bottom-bar .bar-right .icon:nth-of-type(1):hover {
    background-color: #4463a6; }
  .bottom-bar .bar-right .icon:nth-of-type(2):hover {
    background-color: #5d99c3; }
  .bottom-bar .bar-right .icon:nth-of-type(3):hover {
    background-color: #6ac4d9; }

.bar-left {
  display: inline-block;
  margin-left: 130px;
  float: left;
  height: inherit; }
  .bar-left .ava_top-bar {
    vertical-align: middle; }
  .bar-left h3 {
    display: inline;
    font-size: 18px;
    margin-left: 20px;
    color: #414141;
    vertical-align: middle; }

.bar-right {
  display: flex;
  height: inherit;
  align-items: center;
  float: right;
  text-align: right;
  margin-right: 130px; }
  .bar-right .myContacts {
    font-family: "firasans_bold";
    color: #33c1e3;
    border-bottom: 1px dotted #33c1e3; }

.main-but {
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  font-size: 15px;
  padding: 10px;
  transition: all 0.3s; }

.info-but {
  background-color: #33c1e3;
  border: 2px solid #f6f6f6;
  color: white; }
  .info-but:hover {
    background-color: white;
    color: #33c1e3; }

.content {
  position: relative;
  width: 300px;
  height: 150px;
  text-align: center;
  border-radius: 20px; }
  .content .content_bot {
    background-color: #33c1e3;
    padding: 20px;
    border-bottom: 1px solid #f6f6f6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .content .content_top {
    background-color: white;
    padding: 90px 20px 20px 20px; }
    .content .content_top .ava-main {
      position: absolute;
      top: -75px;
      right: 75px;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.4); }

.main-content {
  position: relative; }
  .main-content .sidebar {
    float: left;
    text-align: right; }
    .main-content .sidebar ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .main-content .sidebar ul a {
        text-decoration: none; }
        .main-content .sidebar ul a li {
          color: #414141;
          font-family: "firasans_medium";
          padding: 10px 20px;
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 5px; }
          .main-content .sidebar ul a li:hover {
            color: #33c1e3; }
        .main-content .sidebar ul a .selected {
          color: #33c1e3;
          border-right: 6px solid #33c1e3;
          font-family: "firasans_bold"; }
  .main-content #about-me-right {
    font-size: 1.1em; }
    .main-content #about-me-right h1 {
      margin: 10px 0;
      font-size: 35px; }
    .main-content #about-me-right #about-me-text {
      width: 56%;
      height: 300px;
      line-height: 1.42;
      overflow: auto; }

/*# sourceMappingURL=style.css.map */
