body {
  background-color: #f6f6f6;
  font-family: "firasans_reg"; }

.middle::before {
  display: inline-block;
  content: " ";
  vertical-align: middle; }

.shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5); }

.wrapper {
  overflow: auto;
  width: 100%;
  height: 100%;
  min-height: 640px; }

.wrap-enter {
  position: relative;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../img/bg/geometry2.png"); }

.container {
  margin: 0 auto;
  height: inherit;
  max-width: 940px; }

.ava {
  object-fit: cover;
  border-radius: 50%; }

.ava-main {
  width: 140px;
  height: 140px; }

.ava_top-bar {
  height: 60px;
  width: 60px; }

.ava-about {
  width: 220px;
  height: 220px; }

header {
  height: 60px;
  background-color: white;
  padding: 10px 0;
  margin-bottom: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); }
  header .middle::before {
    height: 60px; }
  header .bar-left .ava_top-bar {
    vertical-align: middle; }
  header .bar-left h3 {
    display: inline;
    font-family: "firasans_reg";
    font-weight: 400;
    font-size: 18px;
    margin-left: 20px;
    color: #414141;
    vertical-align: middle; }
  header .bar-right {
    position: relative;
    padding-top: 3px; }
    header .bar-right .myContacts {
      text-decoration: none;
      font-size: 18px;
      color: #33c1e3;
      padding-bottom: 3px;
      border-bottom: 1px dotted #33c1e3; }

footer {
  height: 50px;
  background: #414141;
  margin-top: -50px; }
  footer .middle::before {
    height: 50px; }
  footer .bar-left {
    line-height: 50px;
    color: #9c9c9c;
    font-size: 14px;
    font-family: "firasans_reg"; }
  footer .bar-right ul li.icon {
    display: inline-block;
    margin-left: 3px;
    text-align: center;
    line-height: 30px;
    color: #414141;
    background-color: #9c9c9c;
    width: 30px;
    border-radius: 50%;
    cursor: pointer; }
  footer .bar-right ul .icon:nth-of-type(1):hover {
    background-color: #4463a6; }
  footer .bar-right ul .icon:nth-of-type(2):hover {
    background-color: #5d99c3; }
  footer .bar-right ul .icon:nth-of-type(3):hover {
    background-color: #6ac4d9; }

.bar-left {
  float: left; }

.bar-right {
  float: right; }

.main-but {
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  transition: all 0.3s;
  font-family: "firasans_medium"; }

.info-but {
  background-color: #33c1e3;
  border: 2px solid #f6f6f6;
  color: white; }
  .info-but:hover {
    background-color: white;
    color: #33c1e3; }

.danger-but {
  background-color: #f6f6f6;
  border: 2px solid #e85f61;
  font-family: "firasans_bold";
  color: #e85f61; }
  .danger-but:hover {
    background-color: #e85f61;
    color: white; }

.content {
  position: relative;
  width: 300px;
  height: 150px;
  text-align: center; }
  .content .content_bot {
    background-color: #33c1e3;
    padding: 30px;
    border-bottom: 1px solid #f6f6f6;
    border-radius: 0 0 7px 7px; }
  .content .content_top {
    background-color: white;
    border-radius: 7px 7px 0 0;
    padding: 90px 20px 20px 20px; }
    .content .content_top .ava-main {
      position: absolute;
      top: -75px;
      right: 80px; }

main {
  float: right; }
  main div .about-me_left {
    float: left;
    margin-right: 60px; }
  main div .about-me_right {
    float: right; }
    main div .about-me_right .about-me_right-text-title {
      font-family: "firasans_medium";
      font-weight: 400;
      font-size: 35px;
      line-height: 35px;
      color: #414141; }
    main div .about-me_right .about-me_right-text {
      width: 380px;
      height: 300px;
      overflow: auto;
      margin-top: 16px;
      margin-bottom: 50px; }
      main div .about-me_right .about-me_right-text p {
        font-size: 18px;
        line-height: 26px;
        color: #646464; }
    main div .about-me_right a {
      float: right;
      font-size: 14px; }

.sidebar {
  float: left;
  text-align: right; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar ul li {
      padding: 10px 20px;
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 5px; }
      .sidebar ul li a {
        text-decoration: none;
        color: #414141; }
        .sidebar ul li a:hover {
          color: #33c1e3; }
    .sidebar ul .selected {
      border-right: 6px solid #33c1e3; }
      .sidebar ul .selected a {
        color: #33c1e3; }

/*# sourceMappingURL=style.css.map */
