@media screen and (min-width: 768px) and (max-width: 992px)

	+page-width(750px)
	
	.container
		padding: 0 20px

	.header
		margin-bottom: 29px
		
		&__right
			right: 20px

	.content
		margin-bottom: 50px

		&__left
			float: none
			width: 100%
			margin-bottom: 30px

		&__right
			float: none
			width: 100%

	.sidebar
		text-align: left

	.nav
		&__item
			display: inline-block
			padding: 0 20px 0 0

			&_selected
				border-right: 0

	.about-me
		&__left
			width: 35%
			text-align: center

		&__right
			width: 65%

		&__pic
			width: 170px
			height: 170px
			margin: 0

		&__description
			max-width: 100%
	
	.career
		padding-left: 0
	
	.portfolio
		padding-left: 0