@font-face{
	font-family: 'firasans_reg';
	src: url("../../fonts/FiraSans/FiraSans-Regular.ttf");
}

@font-face{
	font-family:  'firasans_light';
	src: url("../../fonts/FiraSans/FiraSans-Light.ttf") format('truetype');
}

@font-face{
	font-family: 'firasans_medium';
	src: url("../../fonts/FiraSans/FiraSans-Medium.ttf") format('truetype');
}

@font-face{
	font-family: 'firasans_bold';
	src: url("../../fonts/FiraSans/FiraSans-Bold.ttf") format('truetype');
}